@mixin button-variant($background, $color) {
  color: $color;
}

@mixin button-size($height, $padding-x, $font-size, $border-radius) {
  height: #{$height};
  padding: 0 #{padding-x};
  border-radius: #{$border-radius};
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  border-radius: var(--#{$prefix}border-radius-medium);
}

.btn-lg {
  @include button-size(3.5rem, 1rem, 2rem, var(--#{$prefix}border-radius-medium));
}

.btn-sm {
  @include button-size(2.5rem, 1rem, 1rem, var(--#{$prefix}border-radius-medium));
}

.btn-xs {
  @include button-size(2rem, 0.75rem, 1rem, var(--#{$prefix}border-radius-small));
}
