<header class="site-header">
  <div class="logo">
    <a href="{{ relURL "" }}">logo</a>
  </div>
  <nav class="site-header-nav">
    <a
      href="{{ relURL "docs/get-started/introduction" }}"
      class="{{ if eq .Params.group "get-started" }}active{{ end }}"
      >Get started</a
    >
    <a href="{{ relURL "docs/layout/breakpoints" }}" class="{{ if eq .Params.group "layout" }}active{{ end }}"
      >Layout</a
    >
    <a href="{{ relURL "docs/content/typography" }}" class="{{ if eq .Params.group "content" }}active{{ end }}"
      >Content</a
    >
    <a href="{{ relURL "docs/components/button" }}" class="{{ if eq .Params.group "components" }}active{{ end }}"
      >Components</a
    >
    <a href="{{ relURL "docs/helpers/color" }}" class="{{ if eq .Params.group "helpers" }}active{{ end }}">Helpers</a>
  </nav>
  <button class="theme-switcher-button"></button>
</header>
