.site-main-wrap {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.site-main {
  grid-area: main;
  padding: 100px 80px;
}

.site-main-container {
  display: flex;
  justify-content: center;
}

.site-main-content {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.site-main-title {
  font-size: 3rem;
  color: var(--hli-color-text-body);
}

.site-main-description {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  color: var(--hli-color-text-body-3);
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--hli-color-text-body-1);

  .site-anchor-link {
    padding: 0 0.175rem;
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
    transition:
      color 0.15s ease-in-out,
      opacity 0.15s ease-in-out;

    &::after {
      content: '#';
    }

    &:focus {
      opacity: 1;
    }
  }

  &:hover {
    .site-anchor-link {
      opacity: 1;
    }
  }
}

.site-example-snippet {
  margin-bottom: 1rem;
}

.site-example {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--hli-color-border-1);
  border-radius: 1rem;
}

.highlight-toolbar {
  display: none;
}

.highlight {
  padding: 0.75rem 1.25rem;
  background-color: var(--hli-color-background-1);
  border-radius: 1rem;

  pre {
    padding: 0.25rem 0 0.875rem;
    margin-top: 0.8125rem;
    margin-bottom: 0;
    overflow: overlay;
    white-space: pre;
    background-color: transparent;
    border: 0;
  }

  pre code {
    color: #000;
    word-wrap: normal;
  }
}
