.dark {
  --hli-color-background-0: #272b2f;
  --hli-color-background-1: #474e54;

  // --hli-color-background-dimmed: ${Palette.dimmed};
  --hli-color-surface-primary: #fa6600;
  --hli-color-surface-secondary: #a6abb1;
  --hli-color-surface-neutral: #485059;
  --hli-color-surface-neutral-1: #6d7782;
  --hli-color-surface-neutral-2: #8e98a3;
  --hli-color-surface-neutral-3: #a3adb8;
  --hli-color-text-primary: #fa6600;
  --hli-color-text-body: #fff;
  --hli-color-text-body-1: #d3d8de;
  --hli-color-text-body-2: #a6abb1;
  --hli-color-text-body-3: #8c959d;
  --hli-color-text-body-0: #272b2f;
  --hli-color-text-neutral-1: #a6abb1;
  --hli-color-text-neutral-2: #d3d8de;
  --hli-color-border-1: #485059;
  --hli-color-border-2: #8c959d;
  --hli-color-border-3: #a6abb1;
  --hli-color-border-4: #fff;
}
