.site-sidebar {
  position: sticky;
  top: 88px;
  grid-area: sidebar;
  height: calc(100vh - 5.5rem);
  padding: 20px 0;
  overflow-y: auto;
  border-right: 1px solid var(--hli-color-border-1);

  button,
  a {
    display: block;
    width: 100%;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: var(--hli-color-text-body-3);
    text-align: left;
    text-decoration: none;
    background: transparent;
    border: 0;
    opacity: 0.8;

    &:hover {
      color: var(--hli-color-text-body);
    }

    &.active {
      color: var(--hli-color-text-body);
      background-color: var(--hli-color-surface-neutral-1);
      opacity: 1;
    }
  }
}

.site-sidebar-title {
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--hli-color-text-neutral-1);
}
